.header-color {
    background-color: rgb(7, 89, 109);
    font-family: arial;
    font-weight: bold;
    
}


.foots{
    border-radius: 20px;
}

.btns{
    background-color: rgb(7, 89, 109);
    border-radius: 20px;
}


